{% extends '@EasyAdmin/login/login.html.twig' %}

{% block extra_style %}
    <style>
        .login-wrapper {
            width: auto;
        }
    </style>
{% endblock %}

{% block login_form %}
    <div>
        {{ 'password_reset.reset.header_text' | trans }} 
    </div>
    {{ form_start(resetForm) }}
    <div class="form-group field-password">
        <label for="password" class="sr-only form-control-label required">{{ 'password_reset.reset.password_label'| trans }}</label>
        <div class="form-widget form-widget-with-icon">
            <i class="fa fa-fw fa-lock"></i>
            {{ form_row(resetForm.plainPassword.first) }}
            {{ form_row(resetForm.plainPassword.second) }}
        </div>
    </div>
    <div class="form-group field-button">
        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="this.form.submit(); this.disabled=true;">
            {{ 'password_reset.reset.submit_button' | trans }} 
        </button>
    </div>
    {{ form_end(resetForm) }}
{% endblock %}
